.bg-lition-black-nav {
    background-color: #051A2D;
}
.bg-lition-black {
    background-color: #2E3748;
}

.bg-lition-background {
    background-color: #F7F8FC;
}
.font-lition {
    font-family: 'Montserrat', sans-serif;
}
.text-inactive {
    color: #6F7385;
}
.border-off {
    border-color: #DBDDE2;
}
.border-active {
    border-color: #00CE80;
}
.bg-active {
    background-color: #00CE80;
}
.bg-active-tile {
    background-color: #EDFFF8;
}
.text-secondary {
    color: #00985E;
}
